@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model TaskModel
@inject IContentManager manager
@inject IProjectHint hint
<div>
	<h1>Edit task!</h1>
	<div asp-validation-summary="ModelOnly"></div>
	<form method="post" asp-action="EditTask" asp-antiforgery="true">
		<div>
			<input asp-for="TaskName" type="text" readonly="true" value="@Model.TaskName" placeholder="New project/task name" />
			<span asp-validation-for="TaskName"></span>
		</div>
		<div>
			<input asp-for="StartDate" type="datetime" value="@Model.StartDate" placeholder="Start date of task" />
		</div>
		<div>
			<input asp-for="CancelDate" type="datetime" value="@Model.CancelDate" placeholder="End date of task" />
		</div>
		<div>
			<button type="submit">
				EDIT
			</button>
		</div>
	</form>
	<h1>Create new comment!</h1>
	<form method="post" asp-action="CreateTaskComment" asp-antiforgery="true" enctype="multipart/form-data">
		<input name="TaskName" type="hidden" value="@Model.TaskName"/>
		<div>
			<input name="Text" type="text" placeholder="Comment text..." />
		</div>
		<div>
			<h1>OR</h1>
		</div>
		<div>
			<input name="File" type="file" placeholder="Comment file..." />
		</div>
		<div>
			<button type="submit">
				ATTACH
			</button>
		</div>
	</form>
	<div>
		<h1>Comments:</h1>
		@for (int x = 0; x < Model.TaskComments.Count; x++)
		{
			<br />
			var current = Model.TaskComments.ElementAt(x);
			<a asp-action="ReadComment" asp-route-id="@current.Id">
				@(x+1)
			</a>
			@if (current.CommentType == 0)
			{
				<h1 style="font-size: 20px;">@manager.Deserialize(current.Content,false)</h1>
			}
			else
			{
				<img style="height:100px;width:100px;" src="https://cdn-icons-png.flaticon.com/512/2659/2659360.png" />
			}
			<a asp-action="DropComment" style="color: red" asp-route-taskName="@Model.TaskName" asp-route-id="@current.Id">
				DELETE
			</a>
		}
	</div>
</div>