@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model TaskModel
@inject IContentManager manager
@inject IProjectHint hint
<div>
	<form method="post" asp-action="EditTask" asp-antiforgery="true">
		<div>
			<input asp-for="TaskName" type="text" value="@Model.TaskName" placeholder="New project/task name" />
		</div>
		<div>
			<input asp-for="StartDate" type="date" value="@Model.StartDate" placeholder="Start date of task" />
		</div>
		<div>
			<input asp-for="CancelDate" type="date" value="@Model.CancelDate" placeholder="End date of task" />
		</div>
		<div>
			<button type="submit">
				EDIT
			</button>
		</div>
	</form>
	<div>
		<div>
			<form method="post" asp-action="CreateTaskComment" asp-antiforgery="true" enctype="multipart/form-data">
				<div>
					<input name="Text" type="text" placeholder="Comment text..." />
				</div>
				<div>
					<h1>OR</h1>
				</div>
				<div>
					<input name="File" type="file" placeholder="Comment file..." />
				</div>
				<div>
					<button type="submit">
						ATTACH
					</button>
				</div>
			</form>
		</div>
		<div>
			@for (int x = 0; x < Model.TaskComments.Count; x++)
			{
				var current = Model.TaskComments.ElementAt(x);
				@if (current.CommentType == 0)
				{
					<a asp-action="DropComment" asp-route-id="@current.Id" asp-route-task-name="@Model.TaskName">
						<h1>@manager.Deserialize(current.Content,false)</h1>
					</a>
				}
				else
				{
					<img style="height:100px;width:100px;" src="https://cdn-icons-png.flaticon.com/512/2659/2659360.png" />
				}
			}
		</div>
	</div>
</div>